body{
    background: url("https://i.postimg.cc/xTfjLY8B/portfolio-background.jpg");
}

header{
    color: goldenrod;
    font-weight: 500;
    font-size: 60px;
    font-family: 'Ranga', cursive;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: goldenrod;
    overflow: hidden;
}

li{
    float: left;
    /* border-right: 1px solid white; */
}

li a{
    display: inline;
    color: darkmagenta;
    text-align: center;
    text-decoration: none;
    padding: 70px 110px;
    font-size: 30px;
}

li a:hover {
    background-color: black;
}

h1{
    float: left;
    font-family: 'Ranga', cursive;
}