body{
    background: url("https://i.postimg.cc/xTfjLY8B/portfolio-background.jpg");
}
header{
    color: gold;
    font-weight: 500;
    font-size: 60px;
    font-family: 'Ranga', cursive;
    text-align: center;
}